
$breakpoint-width-a:480px;
$breakpoint-width-b:600px;
$breakpoint-width-c:800px;
$breakpoint-width-d:1300px;
$breakpoint-width-e:1300px;

@mixin breakpoint-a {
	@media screen and (min-width: 0px) and (max-width:$breakpoint-width-a) {
		@content;
	}
}


@mixin breakpoint-b {
	@media screen and (min-width: $breakpoint-width-a) and (max-width:$breakpoint-width-b) {
		@content;
	}
}

@mixin breakpoint-c {
	@media screen and (min-width: $breakpoint-width-b) and (max-width:$breakpoint-width-c) {
		@content;
	}
}


@mixin breakpoint-d {
	@media screen and (min-width: $breakpoint-width-c) and (max-width:$breakpoint-width-d) {
		@content;
	}
}

@mixin breakpoint-e {
	@media screen and (min-width: $breakpoint-width-d) {
		@content;
	}
}


@include breakpoint-a {
	.hide-on-breakpoint-a {
		display:none;
	}
}

@include breakpoint-b {
	.hide-on-breakpoint-b {
		display:none;
	}
}

@include breakpoint-c {
	.hide-on-breakpoint-c {
		display:none;
	}
}

@include breakpoint-d {
	.hide-on-breakpoint-d {
		display:none;
	}
}

@include breakpoint-e {
	.hide-on-breakpoint-e {
		display:none;
	}
}