@import "media.scss";

.page {
	margin:0 auto;
	width:media-width(D);

	@include breakpoint-a {
		width:100%;
		padding:0 1em;
	}
	
	@include breakpoint-b {
		width:$breakpoint-width-a;
	}
	@include breakpoint-c {
		width:$breakpoint-width-b;
	}
	@include breakpoint-d {
		width:$breakpoint-width-c;
	}
	@include breakpoint-e {
		width:$breakpoint-width-d;
	}
	
}


.responsive-fontsize {
	@include breakpoint-a {
		font-size:.9em;
	}
	
	@include breakpoint-b {
		font-size:1em;
	}
	
	@include breakpoint-c {
		font-size:1em;
	}
	
	@include breakpoint-d {
		font-size:1.3em;
	}
	
	@include breakpoint-e {
		font-size:1.4em;
	}
}