@import "./scss/mixins.scss";
@import "./scss/normalize.scss";
@import "./scss/breakpoints.scss";
@import "./scss/page.scss";
@import "./scss/grid.scss";

@import "./scss/creators/btn.scss";
@import "./scss/creators/block.scss";
@import "./scss/creators/img.scss";
@import "./scss/creators/hint.scss";
@import "./scss/creators/nav.scss";
@import "./scss/creators/flyout.scss";

@function set-default-box-shadow($set:0 0 5px 0 rgba(0,0,0,.3)) {
	$default-box-shadow:$set;
	@return $default-box-shadow;
}

@function default-box-shadow() {
	@return $default-box-shadow;
}

$default-box-shadow	:	set-default-box-shadow();


@mixin load-all {
	@include load-reset;
	@include load-font-beautifier;
	@include load-breakpoints;
	@include load-grid;
	@include load-page;
	@include load-nav;
	@include load-btn;
	@include load-block;
	@include load-img;
	@include load-hint;
}

@mixin load-reset {
	@include normalize;
}

@mixin load-breakpoints($list:400px 600px 800px 960px 1300px) {
	$breakpoints:setBreakpoints($list);
}

@mixin load-page {
	@include page-init;
}


@mixin load-btn {
	@include btn-init;
}

@mixin load-img {
	@include img-init;
}

@mixin load-hint {
	@include hint-init;
}

@mixin load-block {
	@include block-init;
}

@mixin load-nav {
	@include nav-init;
}

@mixin load-grid($spacer:1em) {
	$grid-spacer: grid-setSpacer($spacer);
	@include grid-init;
}

@mixin load-font-beautifier {
	body {
		@include font-smoothing;
		@include text-rendering;
		@include hyphens;
	}
	
}






// Cool

$aqua:  #7FDBFF;
$blue:  #0074D9;
$navy:  #001F3F;
$teal:  #39CCCC;
$green: #2ECC40;
$olive: #3D9970;
$lime:  #01FF70;

// Warm

$yellow:  #FFDC00;
$orange:  #FF851B;
$red:     #FF4136;
$fuchsia: #F012BE;
$purple:  #B10DC9;
$maroon:  #85144B;

// Gray Scale

$white:  #fff;
$silver: #ddd;
$gray:   #aaa;
$black:  #111;







