@import "./scss/mixins.scss";
@import "./scss/normalize.scss";
@import "./scss/breakpoints.scss";
@import "./scss/page.scss";
@import "./scss/grid.scss";

@import "./scss/creators/btn.scss";
@import "./scss/creators/block.scss";
@import "./scss/creators/img.scss";
@import "./scss/creators/hint.scss";
@import "./scss/creators/nav.scss";
@import "./scss/creators/flyout.scss";

@import "./scss/colors.scss";


@function set-default-box-shadow($set:0 0 5px 0 rgba(0,0,0,.3)) {
	$default-box-shadow:$set;
	@return $default-box-shadow;
}

@function default-box-shadow() {
	@return $default-box-shadow;
}

$default-box-shadow	:	set-default-box-shadow();


@mixin load-all {
	@include load-reset;
	@include load-font-beautifier;
	@include load-breakpoints;
	@include load-grid;
	@include load-page;
	@include load-nav;
	@include load-btn;
	@include load-block;
	@include load-img;
	@include load-hint;
}

@mixin load-reset {
	@include normalize;
}

@mixin load-breakpoints($list:400px 600px 800px 960px 1300px) {
	$breakpoints:setBreakpoints($list);
}

@mixin load-page {
	@include page-init;
}


@mixin load-btn {
	@include btn-init;
}

@mixin load-img {
	@include img-init;
}

@mixin load-hint {
	@include hint-init;
}

@mixin load-block {
	@include block-init;
}

@mixin load-nav {
	@include nav-init;
}

@mixin load-grid($spacer:1em) {
	$grid-spacer: grid-setSpacer($spacer);
	@include grid-init;
}

@mixin load-font-beautifier {
	body {
		@include font-smoothing;
		@include text-rendering;
		@include hyphens;
	}
	
}












